@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BusinessObject.Models
@model List<Author>
@{
    var author = ViewBag.Author as Author;
}
<style>
    /* CSS cho form */
    form {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"] {
        width: 200px;
        padding: 5px;
        margin-bottom: 10px;
    }

    input[type="submit"],
    input[type="button"] {
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    input[type="button"] {
        background-color: #f44336;
    }

    /* CSS cho table */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    a {
        text-decoration: none;
    }
    /* Reset CSS */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Left-content CSS */
    .left-content {
        width: 20%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

        .left-content:hover {
            width: 25%;
            background-color: lightblue;
        }

        .left-content a {
            text-decoration: none;
            color: white;
            transition: all 0.3s;
            transform: scale(1);
        }

        .left-content:hover a {
            color: #fff;
            font-size: 20px;
            transform: scale(1.1);
        }

    /* Content CSS */
    .content {
        width: 80%;
        height: 100vh;
        background-color: #f2f2f2;
        margin-left: 20%;
        padding: 20px;
    }
</style>
<div style="display:flex">
    <div class="left-content">
        <a href="/Author" class="link">Author</a>
        <a href="/Publisher" class="link">Publisher</a>
        <a href="/Book" class="link">Book</a>
        <a href="/Login" class="link">LogOut</a>
    </div>
    <div class="container">
       @* @if (ViewData["isAdmin"] != null)
        {*@
            <form asp-action="@(author != null ? "Update" : "Insert")" method="post">
                <input hidden type="hidden" id="fname" name="id" value="@(author != null ? author.AuthorId : "")"><br>
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname" value="@(author != null ? author.FirstName : "")"><br>

                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname" value="@(author != null ? author.LastName : "")"><br>

                <label for="lname">City:</label>
                <input type="text" id="lname" name="city" value="@(author != null ? author.City : "")"><br>

                <label for="lname">Email Address:</label>
                <input type="email" id="lname" name="email" value="@(author != null ? author.EmailAdress : "")"><br>

                <input type="submit" value="Submit">
                <a asp-action="Index"><input type="button" value="Clear"></a>
            </form>
        @*}*@
        <h3>@if (ViewData["InsertErr"] != null)
            {
                @ViewData["InsertErr"]
            }</h3>

        <h3>List Author:</h3>
        <table>
            <tr>
                <th>
                    AuthorId <br />
                </th>

                <form asp-action="SearchValues" method="post">
                <th>
                    Firts Name<br />
                    <input type="text" name="fname" value="@if (ViewData["fname"] != null){@ViewData["fname"]}" />
                </th>

                <th>
                    Last Name <br />
                    <input type="text" name="lname" value="@if (ViewData["lname"] != null){@ViewData["lname"]}" />
                </th>
                <th>
                    City<br />
                    <input type="text" name="city" value="@if (ViewData["city"] != null){@ViewData["city"]}" />
                </th>
                <th>
                    Action<br />
                    <input type="submit" value="Search" />
                </th>
                </form>
            </tr>
            @foreach (Author item in Model)
            {
                <tr>
                    <td><a>@item.AuthorId</a></td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.City</td>
                @*    @if (ViewData["isAdmin"] != null)
                    {*@
                        <td><a asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a> | <a asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a></td>
                    @*}*@
                </tr>
            }
        </table>
    </div>
</div>


